@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  height: 10vh;
  position: sticky;
  background-color: black;
}
.items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items:center
}

.title {
  color: white;
  font-size: xx-large;
}

.logo {
  color: green;
}
.button {
  background: rgba(68, 8, 105, 0.948);
  color: rgb(255, 255, 255);
  border-radius: 100px;
  border: none;
}

.button:hover {
  background-color: rgb(151, 17, 82);
  filter: drop-shadow(0 0 10px #650990);
}
h1{
  color: #650707;
}
hr{
  height: 3px;
  background-color: black;

}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://t4.ftcdn.net/jpg/03/45/88/07/360_F_345880772_zIT2mkdCzTthplO7xqaGGrMspN0jw0ll.jpg");
    background-image: url("https://img.freepik.com/free-psd/3d-rendering-questions-background_23-2151455632.jpg");
    background-size: cover;
    margin: 100px;
    max-width: 900px;
    line-height: 7rem;
    margin-left: 250px;
    margin-right: 100px;
    border: solid black;
    border-radius: 10px;
    text-align: center;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    
}
h1
{
    font-size: 50px;
    background-color: rgb(255, 183, 0);
    border-radius: 0.1rem 0.1rem 0 0;
}
a{
    text-decoration: none;
    color: white;
}