body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-image: url("https://img.freepik.com/free-psd/3d-rendering-questions-background_23-2151455632.jpg");
    background-size: cover;
}
.quiz-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.question {
    font-size: 20px;
    margin-bottom: 10px;
}
.options button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    background-color: #9b4cc3;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.options button:hover {
    background-color: #5c0a6e;
}
.result {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}
.score {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
